#jinja2: lstrip_blocks: True

{% for interface in interfaces %}
{% if interface.network is defined and networks[interface.network].domain is defined %}
{% if loop.first %}domain{% else %}search{% endif%} {{ networks[interface.network].domain }}
{% endif %}
{% endfor %}

{% for resolver in resolvers %}
nameserver {{ resolver }}
{% endfor %}
