nossl * *;

group {{ mirror_hostgroup }}
{
        host{% for host in groups[mirror_hostgroup] %} {{ host }}{% endfor %};

        key /etc/csync2.key_{{ mirror_hostgroup }};

{% for tree in csync2_shared_trees %}
        include {{ tree }};
{% endfor %}

        auto none;

##      left in here for future reference
#       backup-directory /var/backups/csync2;
#       backup-generations 3;

}
