Host *
    UserKnownHostsFile ssh_known_hosts
{% for host in groups.servers + groups.desktops %}

{% set hv = hostvars[host] %}
Host {{ host }}
    User root
{% if groups.vms is defined and host in groups.vms %}
    Hostname {{ hv['inventory_hostname'] }}
    ProxyCommand ssh -F ssh_config -W %h:%p -q root@{{ hv['parent'] }}
{% elif host != 'localhost' %}
    Hostname {{ hv['real_host'] }}
{% endif %}
{% if 'identity_file' in hv %}
    IdentityFile ssh_ids/id_{{ hv['identity_file'] }}
{% endif %}
{% endfor %}
