#jinja2: lstrip_blocks: True
{{ ansible_managed }}
{% from "./roles/common/macros/network.j2" import get_interface_address with context %}

127.0.0.1   localhost
::1         localhost ip6-localhost ip6-loopback
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters

{% macro interface_hostline(host, interface) %}
{% set network = networks[interface.network] %}
{{ get_interface_address(host, interface) }} {{ host }}.{{ network.domain }}{% if network.primary is defined and network.primary %} {{ host }}{% endif %} # {{ host }}: {{ interface.name }}
{% endmacro %}

{%- macro interface_hostlines(interface) %}
# Entries for interface {{ interface.name }}
{% for host in groups.all %}
    {% if hostvars[host].interfaces is defined %}
        {% for host_interface in hostvars[host].interfaces %}
            {% if host_interface.network is defined and networks[host_interface.network].domain == networks[interface.network].domain and not ( host_interface.address is defined and not host_interface.address ) %}
                {{- interface_hostline(host, host_interface) -}}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% endmacro %}

{%- for interface in interfaces %}
{% if interface.network is defined %}
{{ interface_hostlines(interface) }}
{% endif %}
{% endfor %}
