{% macro gateway (interface, host) %}
{% if interface.gateway is defined and interface.gateway is not none %}
    gateway {{ interface.gateway }}
{% elif interface.gateway is not defined and interface.network is defined and networks[interface.network].master != host and networks[interface.network].gateway is defined %}
    gateway {{ networks[interface.network].gateway }}
{% endif %}
{% endmacro -%}

{% macro bridge_ports(interface) %}
{% if interface.bridge_ports is defined %}
    bridge_ports {{ interface.bridge_ports }}
    bridge_maxwait 5
{% endif %}
{% endmacro -%}

{% macro extra_ips(interface) %}
{% if interface.extra_ips is defined %}
{% for extra_ip in interface.extra_ips %}
{%- if extra_ip.find('/') >= 0 %}
    {% set extra_netmask = '' %}
{% else %}
    {% set extra_netmask = '/32' %}
{% endif -%}
    up ip addr add {{ extra_ip }}{{ extra_netmask }} dev {{ interface.name }}
    down ip addr del {{ extra_ip }}{{ extra_netmask }} dev {{ interface.name }}
{% endfor %}
{% endif %}
{% endmacro -%}

{% macro source_routing(interface) %}
{% if interface.source_gateway is defined %}
    post-up ip route add default via {{ interface.source_gateway }} dev {{ interface.name }} table {{ interface.table_id }}
    post-up ip rule add from {{ interface.address }}/32 table {{ interface.table_id }}
    pre-down ip rule del from {{ interface.address }}/32 table {{ interface.table_id }}
    pre-down ip route del default via {{ interface.source_gateway }} dev {{ interface.name }} table {{ interface.table_id }}
{% endif %}
{% endmacro -%}

{% macro routes(interface) %}
{% if interface.routes is defined %}
{% for route in interface.routes %}
    up ip route add {{ route }} dev {{ interface.name }}
    down ip route del {{ route }} dev {{ interface.name }}
{% endfor %}
{% endif %}
{% endmacro -%}

{% macro ipv6(interface) %}
{% if interface.address6 is defined %}

iface {{ interface.name }} inet6 static
    address {{ interface.address6 }}
{% if interface.gateway6 is defined %}
    gateway {{ interface.gateway6 }}
{% endif %}
{% endif %}
{% endmacro -%}

{% macro interface_address(interface, host) %}
{% if interface.address is defined %}
{{ interface.address }}/{{ networks[interface.network].mask }}
{% else %}
{{ networks[interface.network].prefix + hostvars[host]['ipnum']|string + '/' + networks[interface.network].mask|string }}
{% endif %}
{% endmacro -%}
