#jinja2: lstrip_blocks: True
{% macro get_interface_address(host, interface) %}
{% if interface.address is defined %}
    {{- interface.address -}}
{% else %}
    {{- networks[interface.network].network|ipaddr(hostvars[host].ipnum + hostvars[host].ipoffset|default(0) )|ipaddr('address') -}}
{% endif %}
{% endmacro %}
