table filter {
        chain INPUT {
                policy ACCEPT;
        }
}

table nat {
        chain POSTROUTING {
                saddr 10.0.0.0/8 outerface {{ ext_if|default('eth1') }} SNAT to {{ snat_ip }};
        }
}
