EXTLINUX_UPDATE="true"
EXTLINUX_ALTERNATIVES="default recovery"
EXTLINUX_DEFAULT="l0"
EXTLINUX_ENTRIES="all"
EXTLINUX_MEMDISK="false"
EXTLINUX_MEMDISK_DIRECTORY="/boot"
EXTLINUX_MENU_LABEL="Debian GNU/Linux, kernel"
EXTLINUX_OS_PROBER="true"
EXTLINUX_PARAMETERS="ro quiet console=ttyS0"
EXTLINUX_ROOT="root=/dev/vda"
EXTLINUX_THEME="none"
EXTLINUX_TIMEOUT="50"
